


p{
    font: 15px Helvetica,Arial,sans-serif;
}

.movie-detail{
    text-align: left;
}

textarea {
    resize : none;
    margin-right: 20px;


}
select{
    vertical-align: top;  
}

.item{
    margin: auto;
}