body{
    background-color: aliceblue;
}

.top{
    margin-left: 30px;
}
.under{
    margin-left: 30px;
}
.detailpage{
    margin-top: 150px;
}

.detailpage span{
   color: rgb(12, 12, 12);
}

.loading{
    margin-top: 100px;
    text-align: center;
}
.title{
    color: #37a;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
    display: inline-block;
}
.tagline{
    font-family: "Source Sans Pro", Arial, sans-serif;
    color:#919090;
    font-style: italic;
}
.info{
    display: inline-block;
    margin-bottom: 15px;
}
.ratingnum{
    color:#494949;
    font-size: 48px;
}
.vote{
    margin-left: 10px;
}
.des{
    margin-top: 40px;
    font-style: normal;
    margin-bottom: 1px;
    display: block;
}
.descotent{
    font-style: italic;
}

.userlogo{
    text-align: left;
    font-size: 15px;
    color:#636060;
    margin-bottom: 20px;
}
.commentofinterest{
    float: left;
    text-align: left;
    border-left: 1px solid #af9f9f;
    padding-left: 20px;
    height: 200px;
    margin-left: 40px;
}
.commentofinterest span{
    color: rgb(99, 98, 98);
}
.Mainpic{
    float: left;
    margin-right: 15px;
    max-width: 300px;
}

span{
    font: 15px Helvetica,Arial,sans-serif;
    color: #37a;
}

.movie-info{
    text-align: left;
    float: left;
    max-width: 500px;
}

.clearfloat{
    clear: both;
}
.user-comment{
    padding-left: 10px;
    text-align: left;
    margin-bottom: 100px;    
}

.editcomment{
    margin-top: 20px;
    margin-bottom: 20px;
}
textarea {
    resize : none;
    margin-right: 20px;
    height:150px;
    margin-left: 40px;
}

.vote{
    display: inline-block;
}
.display-comments{
    padding: 10px;
    text-align: left;
    /* border:1px solid rgb(168, 167, 167); */
    margin-bottom: 10px;
    margin-top: 100px;
    max-width: 700px;
}

.ratetip{
    display: inline-block;
    vertical-align: top;
}
.starmark{
    margin-top: 20px;
}
.allstarrating{
    background: url('https://img9.doubanio.com/f/shire/b8f4c3672ef81106701071831e22422a745d3b74/pics/rating_icons/ic_rating_s.png');
    width: 55px;
    height: 11px;
    margin: 0 3px 0 0;
    overflow: hidden;
    display: inline-block;
    margin-left: 20px;
}
.rate1{
    background-position-y:-88px;
}
.rate2{
    background-position-y:-66px;
}
.rate3{
    background-position-y:-44px;
}
.rate4{
    background-position-y:-22px;
}
.rate5{
    background-position-y:0px; 
}
.genres{
    margin-top: 20px;
}
.genre{
    border-left:1px solid #929292;
    color:#ee6a11;
    font-weight: bold;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.starmarking{
    display: inline-block;
    margin-left: 10px;
}
.delete{
    float: right;
    margin-right: 3px;
    cursor: pointer;
    color: tomato;
    text-decoration: underline;
}
/* 
.searchbox{
    display: none;
} */
.searchpage{
    cursor: pointer;
    display: inline;
}
.vanish{
    display: none;
}
.wrap-comment{
    vertical-align: top;
    margin-left: 20px;
    width: 550px;
    display: inline-block;
    border: 1px solid #d1d5da;
    background-color: #fff;
    border-radius: 10px;
}

.commentinfo{
    margin-top: 20px;
    margin-left: 20px;
}

.indexinfo{
    margin-left: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-width: 2px;
}
.contentdetail{
    padding-left: 40px;
    background-color: #fff;
    padding-bottom: 15px;
    padding-top: 15px;
    border-top: 1px solid #d1d5da;
    border-bottom: 1px solid #d1d5da;
}
.maincontent{
    display: inline-block;
}

.rate{
    display: inline-block;
    margin-left: 50px;
}

.likecount{
    background-color: #fff;

}

.liked_cliked{
    background-color: #f1f8ff;
}

.likedetail{
    display: inline-block;
    border-right: 1px solid #d1d5da;
    padding:10px;
}

.lite-icon::before{
    background-image: url(https://github.githubassets.com/images/icons/emoji/unicode/1f44d.png);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    content:"";
    cursor: pointer;
}

.myButton {
    margin-top: 30px;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	background-color:#bddbfa;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
    margin-bottom: 10px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
    background-color:#80b5ea;
}
.myButton:active {
	position:relative;
    top:1px;
}
p{
    font-size: 14px;
}