

.detailpage{
    margin-top: 150px;
}

.loading{
    margin-top: 100px;
}
.title{
    color: #37a;
    font-size: large;
    font-weight: bold;
    text-align: left;
}

.Mainpic{
    float: left;
    margin-right: 15px;
    max-width: 155px;
}

span{
    font: 15px Helvetica,Arial,sans-serif;
    color: #37a;
}

.movie-info{
    text-align: left;
    float: left;
    max-width: 500px;
}

.clearfloat{
    clear: both;
}
.user-comment{
    padding-left: 10px;
    text-align: left;
}

.editcomment{
    margin-top: 20px;
    margin-bottom: 20px;
}
textarea {
    resize : none;
    margin-right: 20px;
    height:150px;
    margin-left: 40px;
}


.display-comments{
    padding: 10px;
    text-align: left;
}

.ratetip{
    display: inline-block;
    vertical-align: top;
}
.starmark{
    margin-top: 20px;
}

.starmarking{
    display: inline-block;
    margin-left: 10px;
}
.delete{
    float: right;
    margin-right: 3px;
    cursor: pointer;
    color: tomato;
    text-decoration: underline;
}
.vanish{
    display: none;
}
.wrap-comment{
    vertical-align: top;
    margin-left: 20px;
    width: 500px;
    display: inline-block;
    border: 1px solid #d1d5da;
    background-color: #fff;
    border-radius: 10px;
}

.commentinfo{
    margin-top: 20px;
    margin-left: 20px;
}

.indexinfo{
    margin-left: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-width: 2px;
}
.contentdetail{
    padding-left: 40px;
    background-color: #fff;
    padding-bottom: 15px;
    padding-top: 15px;
    border-top: 1px solid #d1d5da;
    border-bottom: 1px solid #d1d5da;
}
.maincontent{
    display: inline-block;
}

.rate{
    display: inline-block;
    margin-left: 50px;
}

.likecount{
    background-color: #fff;

}

.likedetail{
    display: inline-block;
    border-right: 1px solid #d1d5da;
    padding:10px;
}

.lite-icon::before{
    background-image: url(https://github.githubassets.com/images/icons/emoji/unicode/1f44d.png);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    content:"";
    cursor: pointer;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	background-color:#bddbfa;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
    margin-bottom: 10px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
    background-color:#80b5ea;
}
.myButton:active {
	position:relative;
    top:1px;
}
p{
    font-size: 14px;
}