
center{
  vertical-align: middle;
}


.mainpagecontainer{
  position: absolute;
  width: 100%;
  min-height: 100%;
}
header{
    padding: 20px 20px;
    height: 40px; 
    width:100%;
    margin-left: 0;
    background:#e68eb6;
    position: fixed; 
    top: 0;
    margin-bottom: 20px;
    min-width: 776px;
    box-sizing: unset;
}

header ul{
    list-style-type: none;
    white-space:nowrap;
    overflow: hidden;
    margin-left: 5%;
    padding: 0;
    cursor: pointer;
}
.options{
  width: 150px;
}
header li {
    float:left; 
    margin-right:2%; 
    position: relative;
    overflow: hidden;
    width: auto;
}

header li a{
    display: flex; 
    color:white;
    text-align: left;
    padding: 3px;
    overflow: hidden;
    text-decoration: none; 
    width: fit-content;
}
header li ul li:hover{
    background-color: rgba(41, 43, 44, 0.5);
}

header ul li ul{
    margin-left: -0.2px;
    background: #ffffff;
    position: relative;
    display: none;

}
header ul li ul li{
    float:none;
    text-align: center;
    display: list-item;
}
header ul li:hover ul{
    display: block;
}

.mainoptions{
  color: #fff;
}

body{
    background:#eff3f5;
    font: 19px Helvetica,Arial,sans-serif;
    line-height: 1.2;
}

header b{
  font-size: 20px;
}

#root{
  height: 100%;
}
.loadcontainer{
  height: 100%;
}
.searchbox{
  display: inline-block;
}

.searchbutton{
  background-color: #cc4e87;
  color: white;
  padding: 10px 32px;
  margin-left: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
.userinfo{
  display: inline-block;
  align-items: center;
  float: right;
  margin-right: 100px;
}

.userimg{
  vertical-align: middle;
  margin-right: 10px;
}

.username{
  color: #fff;
  font-weight: bold;
}

ul{
  display: inline;
}
select{
  border: none;
  outline: none;
  width: 100%;
  height: 40px;
}

.searchedit{
  width: auto;
  height: 35px;
  vertical-align: middle;
  font-size: large;
}
.masonry { 
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin:2em auto;
    margin-top: 75px;
    text-align: center;
    vertical-align: top;
    max-width: 855px;
    min-height: 700px;
}

.notfound{
  padding-top: 300px;
  font-size: 30px;
  color: #f7580f;
  font-weight: bold;
}


.item { 
  cursor: pointer;
  margin-top:50px;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  display: inline-block;
  width: 172px;
  vertical-align: top;
}

.bottompart{
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer{
    margin-top:3px ;
    bottom:0;
    width:100%;
    height:100px;
    background:#e68eb6;
    text-align: center;
    /* background-image: url('../images/bg-01.jpg');; */
}
.aboutcontent{
  text-align: left;
}
.aboutcontent p{
  color:#111;
  font-size: 16px;
}

.poster{
  width:130px; 
  height:190px;
}
@media screen and (max-width: 700px) { 
  .item{
    width: 129px;
  }
  .poster{
    height: 142.5px;
    width: 97.5px;
  }
} 

.horizontal{
    display: flex;
}

.pagepart{
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 2px;
  width: 100%;
}

.pagebutton{
  background-color: #e68eb6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}
.clicked{
  color:#111
}
.pagebutton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

strong{
  color: #e09015;
}
p{
  color: #37a;
}

.jump{
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
}
input{
  width: 3em;
  font-size: 15px;
  background-color:#e1cce4;;
  margin-right: 8px;
  border-width: 1px;
  padding: 0;
}

.about{
  padding-top: 20px;
  cursor: pointer;
  font-size: 20px;
  color: #111;
  display: inline-block;
}

.about a{
  color:#eff3f5;
}